* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 45%;
	padding-top: 0px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #aaa;
	font: 1em "Comic Sans MS", cursive, sans-seriff;
}

.columnPad {
	float: left;
	width: 10%;
	padding: 10px;
	background-color: #fff;
}

.columnAdmin {
	float: left;
	width: 30%;
	padding-top: 0px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #777;
	font: 1em "Comic Sans MS", cursive, sans-seriff;
}

.columnAdminPad {
	float: left;
	width: 5%;
	padding: 10px;
	background-color: #fff;
}

.columnName {
	width: 70%;
	padding: 0%;
}

.columnAction {
	width: 1%;
	padding: 1%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* .rowEven {
	padding: 1%;
	background-color: #ccc;
	font: 1em "Comic Sans MS", cursive, sans-seriff;
}

.rowOdd {
	padding: 1%;
	background-color: #eee;
	font: 1em "Comic Sans MS", cursive, sans-seriff;
} */

.rowSelected {
	padding: 1%;
	background-color: #7794fc;
	font: 1em "Comic Sans MS", cursive, sans-seriff;
	border-style: solid;
	border-width: 1px;
}

.interiorRow {
	padding: 1%;
	border-style: solid;
	border-width: 1px;
}

header {
	font: 1em "Comic Sans MS", cursive, sans-seriff;
	text-align: center;
}

img {
	max-width: 20px;
	/* max-width: 100% */
	max-height: 100%;
}